

<link rel="stylesheet" href="/Css/admin_sidebar.css">

    <div id="side_panel">
        <ul>
            <li > <img src="/images/profile.png" alt=""><span> Users</span></li>
            <hr>
            <li > <img src="/images/playlist.png" alt=""><span> Menu</span></li>
            <hr>
            <li > <img src="/images/website.png" alt=""><span> Orders</span>
                <!-- <span id="notification">2</span> -->
            </li>
            <hr>
            <li > <img src="/images/customer.png" alt=""><span> Customers</span></li>
            <hr>
            <li > <img src="/images/user.png" alt=""><span> Your Account</span></li>
            <hr>
            <li > <img src="/images/analytics.png" alt=""><span> Statistics</span></li>
            <hr>
            <li  > <img src="/images/chat.png" alt=""><span> Chat requests</span>
                <!-- <span id="notification">2</span> -->
            </li>
            <hr>
            <li> <img src="/images/log-out.png" alt=""><span> Log Out</span></li>
            <hr>
        </ul>
    </div>

