<link rel="stylesheet" href="/Css/admin_sidebar.css">

<div id="side_panel">
    <ul>
        <li onclick="location.href='/employees/profile/user'"> <img src="/images/profile.png" alt=""><span> Users</span></li>
        <hr>
        <li onclick="location.href='/employees/profile/menu/All'"> <img src="/images/playlist.png" alt=""><span> Menu</span></li>
        <hr>
        <li onclick="location.href='/employees/profile/orders'"> <img src="/images/website.png" alt=""><span> Orders</span>
            <!-- <span id="notification">2</span> -->
        </li>
        <hr>
        <li onclick="location.href='/employees/profile/customers'"> <img src="/images/customer.png" alt=""><span>
                Customers</span></li>
        <hr>
        <li> <img src="/images/user.png" alt=""><span> Your Account</span></li>
        <hr>
        <li onclick="location.href='/employees/profile/chat/details'"> <img src="/images/chat.png" alt=""><span> Chat
                requests</span>
            <!-- <span id="notification">2</span> -->
        </li>
        <hr>
        <li onclick="location.href='/employees/profile/logout'"> <img src="/images/log-out.png" alt=""><span> Log Out</span></li>
        <hr>
    </ul>
</div>
<!-- formated -->
