







<html>

<head>
  <title> Alert</title>
  <link rel="stylesheet" href="https://unpkg.com/@primer/css@^18.0.0/dist/primer.css" />
</head>

<body>

  <div class="flash mt-3 flash-success" style="margin-top: 50px; width: 80%; margin-left: 17%;">
    <strong>Notice!</strong><span id="almsg">you have recieved a new message</span>

  </div>

</body>

</html>
<!-- formated -->
