<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aussie</title>
    <link rel="stylesheet" href="/Css/homepage-navigationbar.css">
    <script src="https://kit.fontawesome.com/f4bd0b4361.js" crossorigin="anonymous"></script>


    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

</head>
<body>
    <div class="container">
        <h1>Aussie</h1>

     <!-- menu and cancel for responsive -->
        <i class="fa-solid fa-bars" id="fx" onclick="showmenu()"></i>
        <div class="navbar" id="naxx">

            <i class="fa-sharp fa-solid fa-xmark" id="fx" onclick="hidemenu()"></i>

            <ul>

                <li>
                    <input class="search" type="text" placeholder="Search Food">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </li>
                <li><a href="index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li>
                    <i class="fa-solid fa-cart-shopping" onclick="location.href = 'check_out.html';"></i>
                    <a href=""></a>
               
                </li>
                <%if (current_user!==undefined){%>
                <li><a  class="sign" href="customer/profile/<%=current_user.id%>"><%=current_user.Firstname%></a></li>
                <%}%>
                <%else{%>
                    <li><a  class="sign" href="user_profile.html"><%=current_user.Firstname%></a></li>
                    <%}%>
                <li><a class="sign" href="../register.ejs">Register</a></li>
            </ul>

        </div>



    </div>
