<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/profile-info.css">
    <title>Profile</title>
</head>
<body>
    <div id ="side_panel">
        <ul>
            <li onclick="location.href='customers/profile/login' " > <img src="/images/profile.png" alt="" ><span> Personal information</span></li>
            <hr>
            <li onclick="location.href='customers/profile/orders' "> <img src="/images/order.png" alt=""  ><span> Orders</span></li>
            <hr>
            <li onclick="location.href='customers/profile/favs' "> <img src="/images/rating.png" alt="" ><span> Favourites </span></li>
            <hr>
            <li onclick="location.href='customers/profile/addr' "> <img src="/images/address-location.png" alt="" ><span> Addresses </span></li>
            <hr>
            <li onclick="location.href='customers/profile/logout' "> <img src="/images/log-out.png" alt="" ><span> Log Out </span></li>
            <hr>
          
        </ul>
    </div>
    
 
</body>
</html>