<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aussie</title>
    <link rel="stylesheet" href="/Css/homepage-navigationbar.css">
    <script src="https://kit.fontawesome.com/f4bd0b4361.js" crossorigin="anonymous"></script>


    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

</head>

<body>
   
   
    <div class="container">
     
        <i class="fa-solid fa-bars" id="fx" ></i>
        <div class="navbar">
            <i class="fa-sharp fa-solid fa-xmark" id="fx" ></i>
            <h1>Aussie</h1>
      
            <ul>
                <li>
                    <input class="search" type="text" placeholder="Search Food">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </li>
                <li class ="part2"><a href="index.html">Home</a></li>
                <li class ="part2"><a href="menu.html">Menu</a></li>
                <li class ="part2" id="cart">
                    <i class="fa-solid fa-cart-shopping" onclick="location.href = 'check_out.html';" ></i></li>
             
                   
                <li class ="part2"><a  class="sign" href="user_profile.html">Profile</a></li>
                <li class ="part2"><a class="sign" href="register.html">Register</a></li>
            
            </ul>
        </div>
    </div>
</body>