<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/b.css">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <td>order_number</td>
             <td>items_number</td>
              <td>price</td>
        </thead>
        <tbody>
<tr class="order_summ">
    <td>12345</td>
     <td>10</td>
      <td>300 $ </td>
</tr>
<tr class="item-details" >
    <table >
        <thead>
            <td>item name </td>
            <td>item price </td>
            <td>qty </td>
        </thead>
        <tbody>
            <tr style="text-align: center;">
                <td>burger 150 gm </td>
                <td> 20 $</td>
                <td> 3</td>
            </tr>
            <tr style="text-align: center;">
                <td>burger 150 gm </td>
                <td> 20 $</td>
                <td> 3</td>
            </tr>
            <tr style="text-align: center;">
                <td>burger 150 gm </td>
                <td> 20 $</td>
                <td> 3</td>
            </tr>
            <tr style="text-align: center;">
                <td>burger 150 gm </td>
                <td> 20 $</td>
                <td> 3</td>
            </tr>
            <tr style="text-align: center;">
                <td>burger 150 gm </td>
                <td> 20 $</td>
                <td> 3</td>
            </tr>
            <tr style="text-align: center;border-bottom: 2px solid black; ">
                <td >burger 150 gm </td>
                <td> 20 $</td>
                <td> 3</td>
                
            </tr>
            <tr style="text-align: center; border-bottom: 2px solid black;">
                <td>price : </td>
                <td>20$</td>
                

            </tr>
            <tr style="text-align: center; border-bottom: 2px solid black;">
                <td>Address : </td>
                <td style="max-width: 50px;  word-wrap: break-word;">new cairo (north 90)</td>
                

            </tr>
            <tr style="text-align: center;">
                <td>delivery comments  : </td>
                <td style="max-width: 50px;  word-wrap: break-word;">please add more ketchup with my order because the last order was so bad thank you </td>
                

            </tr>
            
          
        </tbody>
    </table>
</tr>

        </tbody>
    </table>
</body>
</html>