<html lang="en">
    <link rel="stylesheet" href="/Css/addressinfo.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">
    
</head>
<body>
    <%- include("./partials/nav-profileinfo") %>
<div class="tables">
  <%if(user.addreses.length<=0){%>
    <h1>
      sorry , you dont have any address click here to add new address
    </h1>
    <%}else{%>
    
    <table class="table table-striped">
        <tr  class="bg-info">
            <th>Location</th>
            <th>Address</th>
            <th>Apt</th>
            <th>Floor</th>
            <th>Building</th>
            <th><button>Add new Adress</button></th>
        </tr>
        <tbody id="myTable">


         <% user.addreses.forEach(function(customer){%>
          <tr>
            <td>${user.Location}</td>
            <td>${user.addreses}</td>
            <td>${user.Apt}</td>
            <td>${user.Floor}</td>
            <td><%- user.Floor %>></td>
            <td>${item.edit}
                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal">
        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                </td>

          </tr>
          <%})%>
        </tbody>
    </table>
    <%}%>
    </div>

  

 
  
  

    </body>
