<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/user.css">
    <link rel="stylesheet" href="Css/admin_home.css">
    <script src="js/rej.js"></script>

    <title>Document</title>
</head>

<body>
    <%- include("partials/admin_sidebar") %>
    <div id="Account"
        style="margin:auto; width: 300px ; padding-left: 120px; height: 450px;
         background-color: rgb(203, 224, 243);">
        <h1>  name: <%=user.Name%></h1>
        <h1>Phone:<%=user.Phone%></h1>
        <h2>Email:<%=user.Email%></h2>
        <h2>change password</h2>
        <form action='/employees/profile/password/change' method='post' >
            <input type="password" name="psw" id="inputpass" placeholder="Enter new Password">
            <div id='password' class='err'></div>
            <input type="password" name="psw-confirmt" id="inputcpass" placeholder="confirm Password">
            <div id='cpassword' class='err'></div>

            <button type="submit" class="registerbtn" style="margin-left: 3%; ">Update password</button>
        </form>


    </div>
    <audio id="audio" src="/sounds/sound.m4r"></audio>
</body>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
    
  var socket = io();
  socket.on('connect',()=>{
    console.log("socket id "+socket.id);
  })

  var form = document.getElementById("form");
  var input = document.getElementById("input");

  function a() {
 
    if (input.value) {
      socket.emit('chat message', input.value);
      console.log("sent")
      input.value = '';
    }
  }
  
  socket.on('recieve order',async (msg)=>{
    console.log("recieve",msg);
  sou();

  })
  async function sou(){

    let audio = document.getElementById("audio");
audio.play().catch((err)=>{
    console.log(err);
})

  }

  
</script>

</html>
