<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/ad1.css">
    <link rel="stylesheet" href="/Css/ad2.css">
    <title>Document</title>
</head>
<body>
    <%- include("partials/admin_sidebar") %>
    <div class="right">
    <div id ="msg-area" style="background: rgba(0, 0, 0, 0.7) url(../images/food2.webp)  fixed;" >
        <div id ="customers-msgs">
<ul id ="chat-list">
<li>
<img src="photos/user-chat.png" alt="" id="user-chat">
<span id="Name"><strong>Mohamed Fareed</strong></span>
<span id="time">11:30 AM</span>
<p id ="phone"><strong>0123456789</strong></p>
</li>

<li>
<img src="photos/user-chat.png" alt="" id="user-chat">
<span id="Name"><strong>Ahmed Sherif  </strong></span>
<span id="time">11:35 AM</span>
<p id ="phone"><strong>0123456789</strong></p>
</li>

<li>
<img src="photos/user-chat.png" alt="" id="user-chat">
<span id="Name"><strong>Yassin Ahmed</strong></span>
<span id="time">11:40 AM</span>
<p id ="phone"><strong>0123456789</strong></p>
</li>

<li>
<img src="photos/user-chat.png" alt="" id="user-chat">
<span id="Name"><strong>Mohamed Ali</strong></span>
<span id="time">11:45 AM</span>
<p id ="phone"><strong>0123456789</strong></p>
</li>
</ul>

        </div>
        <div id="chat-form">
            <div id="top-chat">
                <button id="end-btn">End Chat</button>
            </div>
            <div id="message-body">
                <div id="msg1">
<p id ="msg-body">Hello I have an Order with number 12345 </p>
                </div>
               
                <div id="msg2">
<p id ="msg-body">Hello , I'm Mohamed How can I help You .</p>
                </div>
                <div id ="msg-box">
                    <textarea name="" id="msg-text" cols="33" rows="4" placeholder="Enter Message Here " wrap="physical"></textarea>
                    <button id="send">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>