<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/b.css">
    <title>Document</title>
</head>
<body>
    <%- include("./partials/nav-profileinfo") %>
    <table id="t">
        <thead>
            <td>order_number</td>
             <td>items_number</td>
              <td>price</td>
              <td>status</td>
        </thead>
        <tbody>
      <tr class="order_summ" onclick="show(0)">
        <td>12345</td>
     <td>10</td>
      <td>300 $ </td>
      <td>deliverd</td>
     </tr>
      <tr class ="yy" >
     <td id ="uu" style="text-align: center; " colspan="3">
        <table  id="table_inside" style="width:100%; display: table;">
            <thead >
                <td>item name </td>
                <td>item price </td>
                <td>qty </td>
                <td></td>
            </thead>
            <tbody >
                <tr style="text-align: center;">
                    <td>burger 150 gm </td>
                    <td> 20 $</td>
                    <td> 3</td>
                </tr>
                <tr style="text-align: center;">
                    <td>burger 150 gm </td>
                    <td> 20 $</td>
                    <td> 3</td>
                </tr>
                <tr style="text-align: center;">
                    <td>burger 150 gm </td>
                    <td> 20 $</td>
                    <td> 3</td>
                </tr>
                <tr style="text-align: center;">
                    <td>burger 150 gm </td>
                    <td> 20 $</td>
                    <td> 3</td>
                </tr>
                <tr style="text-align: center;">
                    <td>burger 150 gm </td>
                    <td> 20 $</td>
                    <td> 3</td>
                </tr>
                <tr >
                    <td style="border-bottom: 2px solid black;">burger 150 gm </td>
                    <td style="border-bottom: 2px solid black;"> 20 $</td>
                    <td style="border-bottom: 2px solid black;"> 3</td>
                    
                </tr>
                <tr style=" border-top: 2px solid black;">
                    <td>price : </td>
                    <td>20$</td>
                    
    
                </tr>
                <tr style="text-align: center; border-bottom: 2px solid black;">
                    <td>Address : </td>
                    <td style="max-width: 50px;  word-wrap: break-word;">new cairo (north 90)</td>
                    
    
                </tr>
                <tr style="text-align: center;">
                    <td>delivery comments  : </td>
                    <td style="max-width: 50px;  word-wrap: break-word;">please add more ketchup with my order because the last order was so bad thank you </td>
                    
    
                </tr>
                
              
            </tbody>
        </table></td> <tr class="order_summ" onclick="show(1)">
            <td>12345</td>
         <td>10</td>
          <td>300 $ </td>
          <td>delivered</td>
         </tr>
          <tr class ="yy" >
         <td id ="uu" style="text-align: center; " colspan="3">
            <table  id="table_inside" style="width:100%; display: table;">
                <thead >
                    <td>item name </td>
                    <td>item price </td>
                    <td>qty </td>
                    <td>df</td>
                </thead>
                <tbody >
                    <tr style="text-align: center;">
                        <td>burger 150 gm </td>
                        <td> 20 $</td>
                        <td> 3</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>burger 150 gm </td>
                        <td> 20 $</td>
                        <td> 3</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>burger 150 gm </td>
                        <td> 20 $</td>
                        <td> 3</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>burger 150 gm </td>
                        <td> 20 $</td>
                        <td> 3</td>
                    </tr>
                    <tr style="text-align: center;">
                        <td>burger 150 gm </td>
                        <td> 20 $</td>
                        <td> 3</td>
                    </tr>
                    <tr style="text-align: center">
                        <td style="border-bottom: 2px solid black;">burger 150 gm </td>
                        <td style="border-bottom: 2px solid black;"> 20 $</td>
                        <td style="border-bottom: 2px solid black;"> 3</td>
                        
                    </tr>
                    <tr style=" border-top: 2px solid black;">
                        <td>price : </td>
                        <td>20$</td>
                        
        
                    </tr>
                    <tr style="text-align: center; border-bottom: 2px solid black;">
                        <td>Address : </td>
                        <td style="max-width: 50px;  word-wrap: break-word;">new cairo (north 90)</td>
                        
        
                    </tr>
                    <tr style="text-align: center;">
                        <td>delivery comments  : </td>
                        <td style="max-width: 50px;  word-wrap: break-word;">please add more ketchup with my order because the last order was so bad thank you </td>
                        
        
                    </tr>
                    
                  
                </tbody>
            </table></td>
   
   
</body>
<script>

    function show(index){
const ele=document.getElementsByClassName("yy")[index];
if(ele.style.display==="table-row"){
    ele.style.display="none";
}else{
    ele.style.display="table-row";
}

    }
</script>
</html>