<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Css/Employees.css">
    <script src="https://kit.fontawesome.com/f4bd0b4361.js" crossorigin="anonymous"></script>



</head>
<body>
    <%- include("partials/admin_sidebar") %>

    <!-- orders -->
    <div class="right">
      <%- include("partials/alert") %>

      
      <div class="details" style="width: 100%;" >
        <div class="recentOrders"  id="ordd" style="width: 1100px; height: 700px; top: -30px; left: 5px;">
            <div class="cardHeader">
                <h2>Employees</h2>
                <div class="formbox">
                  <!-- <input type="text" class="searchid" placeholder="Enter Employee "> -->
                  <input type="text" class="searchnum" placeholder="Enter Employee name">
                  <button class="search-btn" type="button">Search</button>

              </div>
                <a href="#" class="btnv">View All</a>
            
            </div>

            <table >
                <thead>
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                           Email
                        </td> <td>
                           Address
                        </td> <td>
                        Phone
                        </td>
                        <td>Status</td>
                       
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                         Ahmed
                        </td>
                        <td>
                          ahmed@gmail.com
                        </td> <td>
                          cairo
                        </td>
                        
                      
                        <td>
                       010145677
                        </td>
                        <td>employee</td>
                       
                    </tr>
                    <tr>
                        <td>
                         Ahmed
                        </td>
                        <td>
                          ahmed@gmail.com
                        </td> <td>
                          cairo
                        </td>
                        
                      
                        <td>
                       010145677
                        </td>
                        <td>employee</td>
                       
                    </tr>
                    <tr>
                        <td>
                         Ahmed
                        </td>
                        <td>
                          ahmed@gmail.com
                        </td> <td>
                          cairo
                        </td>
                        
                      
                        <td>
                       010145677
                        </td>
                        <td>employee</td>
                       
                    </tr>
                    <tr>
                        <td>
                         Ahmed
                        </td>
                        <td>
                          ahmed@gmail.com
                        </td> <td>
                          cairo
                        </td>
                        
                      
                        <td>
                       010145677
                        </td>
                        <td>employee</td>
                       
                    </tr>
                    <tr>
                        <td>
                         Ahmed
                        </td>
                        <td>
                          ahmed@gmail.com
                        </td> <td>
                          cairo
                        </td>
                        
                      
                        <td>
                       010145677
                        </td>
                        <td>employee</td>
                       
                    </tr>

                    <tr>
                        <td>
                         Ahmed
                        </td>
                        <td>
                          ahmed@gmail.com
                        </td> <td>
                          cairo
                        </td>
                        
                      
                        <td>
                       010145677
                        </td>
                        <td>employee</td>
                       
                    </tr>

                    <tr>
                        <td>
                         Ahmed
                        </td>
                        <td>
                          ahmed@gmail.com
                        </td> <td>
                          cairo
                        </td>
                        
                      
                        <td>
                       010145677
                        </td>
                        <td>employee</td>
                       
                    </tr>

                    <tr>
                        <td>
                         Ahmed
                        </td>
                        <td>
                          ahmed@gmail.com
                        </td> <td>
                          cairo
                        </td>
                        
                      
                        <td>
                       010145677
                        </td>
                        <td>employee</td>
                       
                    </tr>
                </tbody>
            </table>
        </div>
      
        </div>


    <!-- <div class="popup" id="popup-1">
      
   <div class="overlay"> </div>
      <div class="content">
         <div class="close-btn" onclick="togglePopup()">
            &times;
         </div>
         <h1>Details</h1>
         <table >
            <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Price
                    </td> <td>
                        Payment
                    </td> <td>
                      Status
                    </td>
                    <td>Action</td>
                    <td>Accept</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                       Pizza
                    </td>
                    <td>
                       120$
                    </td> <td>
                       Paid
                    </td>
                    
                  
                    <td>
                     <span class="delivered">Delivered</span>
                    </td>
                    <td><button   class="search-btn"onclick="togglePopup()">Show More</button></td>
                    <td><i class="fa-sharp fa-solid fa-circle-check" id="iconn"></i></td>
                    <td><i class="fa-solid fa-circle-xmark" id="iconn"></i></td>
                </tr>
      </div>
  
   </div> -->
</div>
  
</body>
</html>