<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aussie</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="/Css/index.css">
    <script src="https://kit.fontawesome.com/f4bd0b4361.js" crossorigin="anonymous"></script>


    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

</head>
<body>
 

  <%- include("partials/navbar") %>

    <div class="content">
        <h3>Welcome To Aussie</h3>
        <h1>Healthy and Natural Food</h1>
        <p>HeaFoodHealthyHealthy HealthyHealth and Natural FoodHealthyHealthy and Natural FoodHealthyHeHealthy and Natural FoodHealthy and Natural FoodHealthy and Natural Food</p>
      <button onclick="location.href = '/products/All';">ORDER NOW</button>
    </div>
    

   <section class="alifood">
        <h1>How it Works</h1>
       <div class="row">
        <div class="foodcol">
            <h1>1</h1>
            <h3>You place your order</h3><br>
            <p>You choose your order type and area to see all the kitchens that operate in that area and their menus and place your order with only three total clicks.</p>
        </div>

        <div class="foodcol">
            <h1>2</h1>
            <h3>Homechef starts cooking</h3><br>
            <p> Mumms’ homechefs receive your order instantly and start cooking you delicious meals, all prepared in their pre-approved kitchens. All the kitchens go through a serious process of hygiene and safety checks</p>
        </div>

        <div class="foodcol">
            <h1>3</h1>
            <h3>Order delivery</h3><br>
            <p>One of Mumm’s delivery guys will pick up your order from the homechef’s kitchen and deliver it to your doorstep</p>
        </div>

        <!-- <div class="foodcol">
            <h3>Rate your experience</h3>
            <p>We love feedback! You can rate your experience with mumm along with rating every dish you have tried.</p>
        </div> -->

       </div>
   </section>



   <section class="dishes">
    <h1>Dishes Types</h1>
    <div class="row">
        <div class="foodcol2">
            <img src="/images/veget.jpg" alt="">
            <div class="layer"><h3>
                Single Dishes
            </h3></div>
        </div>

        <div class="foodcol2">
            <img src="/images/zzz.jpeg" alt="">
            <div class="layer"><h3>
                Frozen Dishes
            </h3></div>
        </div>

        <div class="foodcol2">
            <img src="/images/ooo.jpg" alt="">
            <div class="layer"><h3>
                Family Dishes
            </h3></div>
        </div>
    </div>


   </section>



   <section class="problems">
    <h1>Problems we Solve</h1>
    <p>Mumm is an online platform connecting talented homebased cooks with hungry professionals to give them access to wholesome fresh homemade food, from the homechef’s kitchen.</p>

<div class="row">
    <div class="foodcol3">
        <img src="/images/ex1.jpeg" alt="">
        <h3>Is eating healthy really more expensive?</h3>
        <p>It's a common belief that eating healthy is too expensive. In 2013, the Harvard School of Public Health analyzed 27 studies and found that it cost an average of $1.50 more per day to eat healthy. </p>
    </div>

    <div class="foodcol3">
        <img src="/images/ppp.jpeg" alt="">
        <h3>It takes too much time to prepare homemade food?</h3>
        <p>It's a common belief that eating healthy is too expensive. In 2013, the Harvard School of Public Health analyzed 27 studies and found that it cost an average of $1.50 more per day to eat healthy. </p>
    </div>



    <div class="foodcol3">
        <img src="/images/aaa3.jpeg" alt="">
        <h3>Junk food is really not healthy?</h3>
        <p>It's a common belief that eating healthy is too expensive. In 2013, the Harvard School of Public Health analyzed 27 studies and found that it cost an average of $1.50 more per day to eat healthy. </p>
    </div>


</div>
</section>


<section class="rates">
    <button onclick="call()"> click me pleaseeeeee</button>
    <h1>What Our Customers Says</h1>


    <div class="row">
        <div class="alirates">
            <img src="/images/model1.jpeg" alt="">
            <div>
                <p>
                    ting talented homebased cooks with hungry professting talented homebased cooks with hungry professting talented homebased cooks with hungry professting talented homebased cooks with hungry professting talented homebased cooks with hungry profess
                </p>
                <h3>Eslam Ahmed</h3>
            </div>
        </div>


        <div class="alirates">
            <img src="/images/model2.jpeg" alt="">
            <div>
                <p>
                    ting talented homebased cooks with hungry professting talented homebased cooks with hungry professting talented homebased cooks with hungry professting talented homebased cooks with hungry professting talented homebased cooks with hungry profess
                </p>
                <h3>Saher Amr</h3>
            </div>
        </div>



    </div>

</section>



  <script>
    var navv=document.getElementById("naxx")
    function showmenu(){
        naxx.style.right="0"
    }
    function hidemenu(){
        naxx.style.right="-200px"
    }
    </script>



<%- include("partials/footer") %>


<section>
   
  <button class="chat-btn"> 
      <i class="material-icons"> comment </i>
  </button>

   <div class="chat-popup">
     <div class="badge"><iframe src="https://giphy.com/embed/xTkcEQACH24SMPxIQg" width="50" height="50" frameBorder="0" class="giphy-embed" allowFullScreen style="border-radius: 30px;"></iframe></div>
      <div class="chat-area">
       <div class="income-msg">
        
            <p class="msg"> Hi, How can I help you?</p>
       
         
           <p id="tx"></p>
       </div>   
      </div>

      <div class="input-area">
          <input type="text">
          <button id="emoji-btn"> &#127773;</button>
          <button class="submit"> <i class="material-icons"> send</i></button>
      </div>
<!--   
  <div class="chat-main">
    <div class="chat-name">
      <span><i class="far fa-user"></i></span>
      <input type="text" id="name-input" class="name-input" value="anonymous" maxlength="20">
    </div>
    <ul class="message-container" id="message-container">
      <li class="message-left">
        <p class="message">
          lorem impsum
          <span>bluebird 26 july 10:40</span>
        </p>
      </li>



      <li class="message-right">
        <p class="message">
          lorem impsum
          <span>bluebird 26 july 10:40</span>
        </p>
      </li>

      <li class="message-feedback">
        <p class="feedback" id="feedback"></p>
      </li>

    </ul>

    <form  class="message-form"  id="message-form">
      <input type="text" name="message" id="message-input" class="message-input">
  <div class="v-divider"></div>
  <button type="submit" class="send-button">
    send <span><i class="fas fa-paper-plane"></i></span>
  </button>
  
    </form>

  </div> -->
</div> 

<audio id="audio" src="/sounds/sound.m4r"></audio>
</section>

<script src="/js/chatbox.js"></script>

</body>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>

  let socket = io();
  socket.on('connect',()=>{
    console.log("socket id "+socket.id);
 
  })

  socket.on('cantfind_emp',async ()=>{
document.getElementById("tx").innerHTML=" wait while finding an agent ";
  })
  socket.on('connects_emp',(emp)=>{
    sou();
console.log("i connected to ",emp);
console.log("i will check now send to him ");
socket.emit('sendmsgtoemp',{"text":"hello this a test mr "});
  })
 
  async function sou(){

    let audio = document.getElementById("audio");
audio.play().catch((err)=>{
    console.log(err);
})

  }
function call(){
    console.log("in call",socket);
     socket.broadcast.emit('findadmin');
}
  
</script>
</html>
