<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aussie</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="/Css/index.css">
    <script src="https://kit.fontawesome.com/f4bd0b4361.js" crossorigin="anonymous"></script>


    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

</head>
<body>
 

  <%- include("./partials/navbar") %>

    <div class="content">
        <h3>Welcome To Aussie</h3>
        <h1>Healthy and Natural Food</h1>
        <p>HeaFoodHealthyHealthy HealthyHealth and Natural FoodHealthyHealthy and Natural FoodHealthyHeHealthy and Natural FoodHealthy and Natural FoodHealthy and Natural Food</p>
      <button onclick="location.href = '/products/All';">ORDER NOW</button>
    </div>
    

   <section class="alifood">
        <h1>How it Works</h1>
       <div class="row">
        <div class="foodcol">
            <h1>1</h1>
            <h3>You place your order</h3><br>
            <p>You choose your order type and area to see all the kitchens that operate in that area and their menus and place your order with only three total clicks.</p>
        </div>

        <div class="foodcol">
            <h1>2</h1>
            <h3>Homechef starts cooking</h3><br>
            <p> Mumms’ homechefs receive your order instantly and start cooking you delicious meals, all prepared in their pre-approved kitchens. All the kitchens go through a serious process of hygiene and safety checks</p>
        </div>

        <div class="foodcol">
            <h1>3</h1>
            <h3>Order delivery</h3><br>
            <p>One of Mumm’s delivery guys will pick up your order from the homechef’s kitchen and deliver it to your doorstep</p>
        </div>

        <!-- <div class="foodcol">
            <h3>Rate your experience</h3>
            <p>We love feedback! You can rate your experience with mumm along with rating every dish you have tried.</p>
        </div> -->

       </div>
   </section>



   <section class="dishes">
    <h1>Dishes Types</h1>
    <div class="row">
        <div class="foodcol2">
            <img src="/images/veget.jpg" alt="">
            <div class="layer"><h3>
                Single Dishes
            </h3></div>
        </div>

        <div class="foodcol2">
            <img src="/images/zzz.jpeg" alt="">
            <div class="layer"><h3>
                Frozen Dishes
            </h3></div>
        </div>

        <div class="foodcol2">
            <img src="/images/ooo.jpg" alt="">
            <div class="layer"><h3>
                Family Dishes
            </h3></div>
        </div>
    </div>


   </section>



   <section class="problems">
    <h1>Problems we Solve</h1>
    <p>Mumm is an online platform connecting talented homebased cooks with hungry professionals to give them access to wholesome fresh homemade food, from the homechef’s kitchen.</p>

<div class="row">
    <div class="foodcol3">
        <img src="/images/ex1.jpeg" alt="">
        <h3>Is eating healthy really more expensive?</h3>
        <p>It's a common belief that eating healthy is too expensive. In 2013, the Harvard School of Public Health analyzed 27 studies and found that it cost an average of $1.50 more per day to eat healthy. </p>
    </div>

    <div class="foodcol3">
        <img src="/images/ppp.jpeg" alt="">
        <h3>It takes too much time to prepare homemade food?</h3>
        <p>It's a common belief that eating healthy is too expensive. In 2013, the Harvard School of Public Health analyzed 27 studies and found that it cost an average of $1.50 more per day to eat healthy. </p>
    </div>



    <div class="foodcol3">
        <img src="/images/aaa3.jpeg" alt="">
        <h3>Junk food is really not healthy?</h3>
        <p>It's a common belief that eating healthy is too expensive. In 2013, the Harvard School of Public Health analyzed 27 studies and found that it cost an average of $1.50 more per day to eat healthy. </p>
    </div>


</div>
</section>


<section class="rates">
    <h1>What Our Customers Says</h1>


    <div class="row">
        <div class="alirates">
            <img src="/images/model1.jpeg" alt="">
            <div>
                <p>
                    ting talented homebased cooks with hungry professting talented homebased cooks with hungry professting talented homebased cooks with hungry professting talented homebased cooks with hungry professting talented homebased cooks with hungry profess
                </p>
                <h3>Eslam Ahmed</h3>
            </div>
        </div>


        <div class="alirates">
            <img src="/images/model2.jpeg" alt="">
            <div>
                <p>
                    ting talented homebased cooks with hungry professting talented homebased cooks with hungry professting talented homebased cooks with hungry professting talented homebased cooks with hungry professting talented homebased cooks with hungry profess
                </p>
                <h3>Saher Amr</h3>
            </div>
        </div>



    </div>

</section>



<footer>
    <div class="main-content">
      <div class="left box">
        <h2 style="color: white;">About us</h2>
        <div class="content">
          <p>Aussie is an online platform connecting talented homebased cooks with hungry professionals to give them access to wholesome fresh homemade food, from the homechef’s kitchen..</p>
          <div class="social">
            <a href="https://facebook.com/coding.np"><span class="fab fa-facebook-f"></span></a>
            <a href="#"><span class="fab fa-twitter"></span></a>
            <a href="https://instagram.com/coding.np"><span class="fab fa-instagram"></span></a>
            <a href="https://youtube.com/c/codingnepal"><span class="fab fa-youtube"></span></a>
          </div>
        </div>
      </div>
      <div class="center box">
        <h2 style="color: white;">Address</h2>
        <div class="content">
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text">Birendranagar, Surkhet</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text">+089-765432100</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope"></span>
            <span class="text">abc@example.com</span>
          </div>
        </div>
      </div>
      <div class="right box">
        <h2 style="color: white;">Contact us</h2>
        <div class="content">
          <form action="#">
            <div class="email">
              <div class="text">Email *</div>
              <input type="email" required style="width: 50%;">
            </div>
            <div class="msg">
              <div class="text">Message *</div>
              <textarea rows="2" cols="10" required ></textarea>
              <!-- <div class="btn">
                <button type="submit">Send</button>
              </div> -->
            </div>
           
          </form>
        </div>
      </div>
    </div>
    <div class="bottom">
     
      
        <span style="text-align: center;" class="far fa-copyright"></span><span> 2020 All rights reserved.</span>
      
    </div>
  </footer>
  <script>
    var navv=document.getElementById("naxx")
    function showmenu(){
        naxx.style.right="0"
    }
    function hidemenu(){
        naxx.style.right="-200px"
    }
    </script>





<section>
   
  <button class="chat-btn"> 
      <i class="material-icons"> comment </i>
  </button>

  <div class="chat-popup">
      <div class="badge">1</div>
      <div class="chat-area">
       <div class="income-msg">
           <img src="img/person.jpg" class="avatar" alt="">
           <span class="msg"> Hi, How can I help you?</span>
       </div>   
      </div>

      <div class="input-area">
          <input type="text">
          <button id="emoji-btn"> &#127773;</button>
          <button class="submit"> <i class="material-icons"> send</i></button>
      </div>
  </div>
</section>
<script src="/js/chatbox.js"></script>

</body>
</html>
