<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Css/new-password.css">
    <script src="https://kit.fontawesome.com/f4bd0b4361.js" crossorigin="anonymous"></script>
    <script src="js/sign.js"></script>


</head>

<body>

    <div class="container">



        <h1>New password</h1>
        <h3>Aussie food to be enjoyed</h3>
        <form action='#' method='post'>

            <input type="password" name="email" id="idpass" placeholder="Enter New Password" name="psw">
            <div id='password' class='err'></div>
            <input type="password" name="email" id="idpass" placeholder="Confirm Password" name="psw">
            <div id='password' class='err'></div>
            <button type="submit" class="registerbtn">Change password</button>
        </form>





    </div>

</body>

</html>