<html>
<head>

	<html lang="en">
    <link rel="stylesheet" href="/Css/personalinfo.css">
</head>
<body>
    <%- include("./partials/nav-profileinfo") %>
		<div class="card">
			<div class="right">
			  <h3>Profile Details</h3>
			  <table>
				  <tr>
					  <td>FirstName:</td>
					  <td>ahmed </td>
					</tr>
				<tr>
				  <td>MiddleName:</td>
				  <td>momen</td>
				</tr>
				<tr>
					<td>LastName:</td>
					<td>amr</td>
				  </tr>
				<tr>
				  <td>Phone Number:</td>
				  <td>536372829</td>
				</tr>
				<tr>
				  <td>Email:</td>
				  <td>ahemd@yahoo.com</td>
				</tr>
				<tr>
				  <td ><a class="passwordch" href="">Change Password</a></td>
				</tr>
			  </table>
		  </div>
		</div>
<script>
    function myFunction() {
var x = document.getElementById("inputt");
if (x.type === "password") {
x.type = "text";
} else {
x.type = "password";
}
}
</script>
</body>
</html>
