<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="/Css/recent-customers.css">
</head>
<body>
    <div class="right">
        <div class="recentCustomers">
            <div class="cardHeader">
                <h2>Recent Customers</h2>
                <div class="formbox">
                    <input type="text" class="searchid" placeholder="Enter customers ID">
                    <input type="text" class="searchnum" placeholder="Enter customers number">
                    <button class="search-btn" type="button">Search</button>

                </div>
                <a href="#" class="btnv">Add Customer</a>
            </div>
            <table>
                <tr>
                    <td width="60px"><div class="imgBx">
                        <img src="/photos/ex1.jpeg" alt="">
                    </div></td>
                    <td><h4>David <br><span>Italy</span></h4>
                        <a href="#" class="btnvv">Delete Customer</a></td>
                </tr>

                <tr>
                    <td width="60px"><div class="imgBx">
                        <img src="/photos/ex1.jpeg" alt="">
                    </div></td>
                    <td><h4>fareed <br><span>Egypt</span></h4>
                        <a href="#" class="btnvv">Delete Customer</a></td>
                </tr>

                <tr>
                    <td width="60px"><div class="imgBx">
                        <img src="/photos/ex1.jpeg" alt="">
                    </div></td>
                    <td><h4>Yassin <br><span>India</span></h4>
                        <a href="#" class="btnvv">Delete Customer</a></td>
                </tr>

                <tr>
                    <td width="60px"><div class="imgBx">
                        <img src="/photos/ex1.jpeg" alt="">
                    </div></td>
                    <td><h4>Ahmed <br><span>Kuwait</span></h4>
                        <a href="#" class="btnvv">Delete Customer</a></td>
                </tr>

                <tr>
                    <td width="60px"><div class="imgBx">
                        <img src="/photos/model1.jpeg" alt="">
                    </div></td>
                    <td><h4>Ali <br><span>Egypt</span></h4>
                        <a href="#" class="btnvv">Delete Customer</a></td>
                </tr>

                <tr>
                    <td width="60px"><div class="imgBx">
                        <img src="/photos/OIP.jpeg" alt="">
                    </div></td>
                    <td><h4>David <br><span>Italy</span></h4>
                        <a href="#" class="btnvv">Delete Customer</a> </td>
                </tr>
            </table>
        </div>

</div>
</body>
</html>