<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Css/sign-in.css">
    <script src="https://kit.fontawesome.com/f4bd0b4361.js" crossorigin="anonymous"></script>
    <script src="/js/sign.js"></script>
    


</head>
<body>
    <%if(alert){%>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>Error ! </strong> <%=text%> 
          </div>
        <%}%>
   
   
    <div class="container">

        

        <h1>Sign In</h1>
        <h3>Aussie food to be enjoyed</h3>
        <form action='/customers/signin' method='post'>
        <input type="email" id="idmail" name="phone" placeholder=" Email " required  >
        <div id='mail' class='err'></div>
        <input type="password"  name="password" id="idpass" placeholder=" Password" required >
        <div id='password' class='err'></div>
        <button type="submit" class="registerbtn" >Sign In</button> 
    </form>

    <div class="icon">
        <i class="fa-brands fa-facebook"></i>
        <span>Facebook</span>
    </div>
        <div class="icon">
        <i class="fa-brands fa-google"></i>
        <span>Google</span>
    </div>

 <div class="icon">
        <i class="fa-brands fa-apple"></i>
        <span>apple</span>
    </div>

            <p>Forgot Your? <a href="#">Password</a></p>    
            <p style="text-align: left; margin-top: 10%; margin-left: 10px; color: black;"> <a href="register.html" style="color: crimson;">Register?</a></p>       

    </div>
 

</body>
<div id="waitsign">
   <img src="/images/1amw.gif" alt="" style="margin-top: 17%; width: 300px; height: 300px;">
</div>
</html>
