.tables {
    max-width: 495px;
    margin-left: 409px;
    margin-top: -1037px;
    padding: 0;
}
.table td {
    margin: 19px;
    padding: 1.75rem;
    border-top: 8px solid gray;
    font-weight: 500;
}
table th{ 
    width: 10%;
    padding: 0.75rem 5.75rem;
    vertical-align: top;
    border-top: 13px solid rgb(113, 113, 234);
    background-color: rgb(113, 113, 234);
    color: #fff;
}

.table.table-striped {
    margin-left: 74px;
}

  tr:nth-child(even) {background-color: #f2f2f2;}
  
.delete{
	color: red;
}
.delete:hover{
	color: brown;
}
button {
    color: white;
    padding: 1px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: -2px 0px;
    transition-duration: -1.6s;
    cursor: pointer;
    background-color: rgb(7, 147, 45);
    color: #f2f2f2;
    width: 100px;
}
  
 
button:hover {
    background-color: rgb(242, 242, 242);
    color: rgb(0, 0, 0);
  }
	
		  
		  

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
  
