body {

  overflow-x: hidden;



}






.tables {
  box-sizing: border-box;
  font-family: sans-serif;
  min-height: 89vh;
  color: #555;
  margin-left: 285px;
  /* margin-top: -500px; */


  box-sizing: border-box;
  font-family: sans-serif;
  min-height: 89vh;
  color: #555;
  margin-left: 300px;
  margin-top: -500px;
  width: fit-content;
}

table td {
  margin: 19px;
  padding: 0.75rem;
  border-top: 1px solid gray;
  font-weight: 500;
  font-family: sans-serif;
  text-align: center;
}

table th {
  width: 10%;
  padding: 0.75rem 1.75rem;
  border-top: 9px solid rgb(113, 113, 234);
  background-color: rgb(113, 113, 234);
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.table tr {
  border-radius: 10px;

}

.table.table-striped {
  margin-left: 74px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.delete {
  color: red;
  align-items: center;
}

.delete:hover {
  color: brown;
}

button {
  color: white;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 22px;
  cursor: pointer;
  background-color: rgb(7, 147, 45);
  color: #f2f2f2;
  width: 81px;
}


button:hover {
  background-color: rgb(242, 242, 242);
  color: rgb(0, 0, 0);
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {

  .tables {
    width: 70%;
    margin-left: 18%;
    margin-top: -54%;
  }

  table {
    width: 100%;
  }

  table th,
  table td {
    width: 100%;
    padding: 10px 8px
  }
}


@media only screen and (min-device-width : 700px) and (max-device-width : 1030px) {
  .tables {
    width: 70%;
    margin-left: 17%;
    margin-top: -55%;
  }

  table {
    width: 100%;
  }

  table th,
  table td {
    width: 100%;
    padding: 10px 8px
  }
}

@media only screen and (min-device-width : 360px) and (max-device-width : 700px) {
  .tables {
    width: 100%;
    margin-left: -19%;
    margin-top: 0;
  }

  table {
    width: 100%;
  }

  table th,
  table td {
    width: 100%;
    padding: 10px 8px
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .tables {
    width: 70%;
    margin-left: -89px;
    margin-top: 2px;
  }

  table {
    width: 100%;
  }

  table th,
  table td {
    width: 100%;
    padding: 10px 6px;
  }
}


.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 450px;
  height: 400px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;


}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);

}


.moree {
  height: 30px;
  width: 80px;
  background-color: #9b6043;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 25px;
}

.moree:hover {
  background: #b70707;
  cursor: pointer;
}










form {
  width: 300px;
  margin-left: 30px;
}

form input {
  width: 100%;
  height: 30px;
  padding: 5px;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

form input:focus {
  border: none;

}


button {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: rgb(206, 20, 20);
  color: aliceblue;
  font-size: 18px;

}

button:hover {
  cursor: pointer;
  font-size: 20px;
  opacity: 50%;
}
/* formated */
