#t{
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}
td{
    width: 30%;
}
thead{
    text-align: center;
}
.order_summ{
    text-align: center;
    align-items: center;
    width: 30%;
    border: 2px solid black;
}
.item_details{
    border: none;
}
#table_inside{
   
  display: block;
   
   
}
.item_details {
   display: none;
    /* display: none; */
    /* animation: hideMe 1s forwards; */
}

@keyframes hideMe{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#yy{
    display: none;
}
tr{
    transition: 2s;
}
#t:hover #yy {
    display: table-row;
    animation: hideMe 1s forwards;
}
