#t {

    border-collapse: collapse;
    width: 74%;
    position: relative;
    top: -810px;
    left: 350px;
}

td {
    width: 30%;
}

thead {
    background-color: rgb(70, 121, 203);
    text-align: center;
}

.order_summ {
    text-align: center;
    align-items: center;
    width: 30%;
    border-bottom: 1px solid rgb(56, 56, 205);
}

.item_details {
    border: none;
}

#table_inside {

    display: block;
    width: 1200px;
    border: 1px solid rgb(56, 56, 205);

}

.item_details {
    display: none;
    /* display: none; */
    /* animation: hideMe 1s forwards; */
}

@keyframes hideMe {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.yy {
    display: none;
}

tr {
    border: none;
    transition: 2s;
    height: 50px;
}

#t:hover #yy {
    display: table-row;
    animation: hideMe 1s forwards;
}
/* formated */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    #t {

        border-collapse: collapse;
        width: 74%;
        position: relative;
        top: -810px;
        left: 350px;
    }
    td {
        width: 30%;
    }
    

}
@media only screen and (min-device-width : 700px) and (max-device-width : 1030px) {

    #t {

        border-collapse: collapse;
        width: 74%;
        position: relative;
        top: -810px;
        left: 350px;
    }
    td {
        width: 30%;
    }

}

@media only screen and (min-device-width : 360px) and (max-device-width : 700px) {

    #t {

        border-collapse: collapse;
        width: 74%;
        position: relative;
        top: -810px;
        left: 350px;
    }
    td {
        width: 30%;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    #t {

        border-collapse: collapse;
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;
    }
    td {
        width: 25%;
    }
}