.tablesfav{
    box-sizing: border-box;
    font-family: sans-serif;
    min-height: 89vh;
    color: #555;
    max-width: 500px;
    margin-left: 451px;
    margin-top: -971px;
}
table{
	width:  1000px;
}
table th{
	padding: 10px 0;
	background-color: #f4f4f4;
	border:  thin solid #d4d4d4;
}
table td{
	padding: 14px;
    border: thin solid #d4d4d4;
    width: 37%;
    text-align: center;
    background-color: #fff;
}
table img{
	width:  70%;
}
.delete{
	color: red;
}
.delete:hover{
	color: brown;
}
table img{
	width:  60%;
} 

@media only screen and (max-width: 768px) {
    .tablesfav {
      width: 100%;
      margin-left: 0;
      margin-top: 0;
    }
  
    table {
      width: 100%;
    }
  
    table th,
    table td {
      width: 100%;
     padding: 10px 8px
    }
  
    table img {
      width: 53%;
    }
  }
@media only screen and (max-width: 480px) {
  .tablesfav {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  table {
    width: 100%;
  }

  table th,
  table td {
    width: 100%;
    padding: 10px 6px;
  }

  table img {
    width: 62%;
  }
}