.tablesfav{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	min-height: 100vh;
	color: #555;
	max-width: 500px;
	margin-left: 358px;
	padding: 0px;
}
table{
	width:  1000px;
	margin: 30px auto;
}
table th{
	padding: 10px 0;
	background-color: #f4f4f4;
	border:  thin solid #d4d4d4;
}
table td{
	padding: 10px;
	border:  thin solid #d4d4d4;
	width: 18%;
	text-align: center;
	background-color: #fff;
}
table img{
	width:  70%;
}
.delete{
	color: red;
}
.delete:hover{
	color: brown;
}
table img{
	width:  60%;
}