.tablesfav{
    box-sizing: border-box;
    font-family: sans-serif;
    min-height: 89vh;
    color: #555;
    border-collapse: collapse;
    position: relative;
    top: -754px;
    left: 384px;
    width: 61%;
}
table{
	width:  1000px;
}
table th{
	padding: 10px 0;
	background-color: #f4f4f4;
	border:  thin solid #d4d4d4;
}
table td{
  padding: 14px;
  border: thin solid #d4d4d4;
  width: 25%;
  text-align: center;
  background-color: #fff;
}
table img{
	width:  50%;
}
.delete{
	color: red;
}
.delete:hover{
	color: brown;
}
table img{
	width:  60%;
} 
@media only screen and (min-width: 1030px) and (max-width: 1366px)  {
  .tablesfav {
    position: relative;
    top: -754px;
    left: 330px;
    width: 61%;
  }

  table {
    width: 100%;
  }

  table th,
  table td {
    width: 25%;
    padding: 10px 8px;
  }

  table img {
    width: 50%;
  }
}


@media only screen and (min-device-width : 700px) and (max-device-width : 1030px) 
 {
  .tablesfav {
    position: relative;
    width: 70%;
    top: -752px;
    left: 254px;
  }

  table {
    width: 100%;
  }

  table th,
  table td {
    width: 25%;
    padding: 10px 8px;
  }

  table img {
    width: 50%;
  }
}

@media only screen and (min-device-width : 480px) and (max-device-width : 700px) {

  .tablesfav {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
  }

  table {
    width: 100%;
  }

  table th,
  table td {
    width: 25%;
    padding: 10px 6px;
  }

  table img {
    width: 50%;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .tablesfav {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
  }

  table {
    width: 100%;
  }

  table th,
  table td {

    width: 25%;
    padding: 10px 6px;

  }

  table img {
    width: 50%;
  }
}