.card {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 0px;
  width: 64%;
  height: 444px;
  margin-left: 361px;
  margin-top: -789px;
}

.right {
  background: rgb(141, 140, 129);
  flex: 1;
  max-width: 70%;
  height: 355px;
  padding: 10px;
  margin: 14px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
  color: black;
}

table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: black;
}

td:first-child {
  font-weight: bold;
}

.passwordch {

  background-color: #004A7F;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 15px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.passwordch:hover {
  background-color: rgb(234, 102, 102);
}

.downbox {
  background-color: #e6e6e6;
  margin-left: 408px;
  margin-top: -389px;
  width: 40%;
  backdrop-filter: blur(276px);
  border-radius: 20px;
  overflow: hidden;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.downbox li {
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7px;
}

.downbox .action_btn {
  width: 45%;
  display: flex;
  justify-content: center;
  margin: auto;
}

#loader {
  position: absolute;
  z-index: 1;
  margin: -2px 0 0 10px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #666666;
  width: 14px;
  height: 14px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.inputLabel {
  font-size: 12px;
  color: #555;
  margin-bottom: 6px;
  margin-top: 24px;
}

.inputDiv {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

input {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
}

input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}

.buttonWrapper {
  margin-top: 40px;
}

#submitButton {
  width: 70%;
  height: 40px;
  margin: auto;
  display: block;
  color: #fff;
  background-color: #065492;
  border-color: #065492;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.submitButton:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.navbar-burger {
  cursor: pointer;
  display: block;
  height: 2.25rem;
  position: relative;
  width: 50%;
}

.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px;
}

.navbar-burger span:nth-child(1) {
  top: calc(50% - 6px);
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
  display: none;
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}

.navbar-burger span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.navbar-burger span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.exitbutton {
  width: 33%;
  height: 2px;
}

@media only screen and (min-width: 1030px) and (max-width: 1400px) {

  .card,
  .downbox {
    width: 87%;
    margin: -616px;
    margin-left: 23%;
  }

  .downbox {
    margin: 220px;
    margin-left: 28%;
    width: 54%;
  }
}

@media only screen and (min-device-width : 700px) and (max-device-width : 1030px) {

  .card,
  .downbox {
    width: 90%;
    margin: -633px;
    margin-left: 24%;
  }

  .downbox {
    margin: 238px;
    margin-left: 30%;
    width: 54%;
  }
}

@media only screen and (min-device-width : 480px) and (max-device-width : 700px) {

  .card,
  .downbox {
    margin: -31px;
    width: 93%;
    margin-left: -3%;
  }

  .downbox {
    margin: -394px;
    margin-left: 3%;
    width: 60%;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .card,
  .downbox {
    margin: -33px;
    width: 100%;
    margin-left: 7%;
  }

  .downbox {
    margin: -394px;
    margin-left: 14%;
    width: 63%;
  }
}

@media only screen and (min-width: 1030px) and (max-width: 1400px) {
  .navbar-burger {
    margin: 1px -20px;
  }
}

@media only screen and (min-device-width : 700px) and (max-device-width : 1030px) {
  .navbar-burger {
    margin: 0px -4px;
  }
}

@media only screen and (min-device-width : 480px) and (max-device-width : 700px) {
  .navbar-burger {
    margin: 0px -4px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .navbar-burger {
    margin: 0px 1px;
  }
}
/* formated */
